body{

	font-family: "Lato", sans-serif;
}
#section1{
	background-image: url("https://wallpaperaccess.com/full/123346.jpg");
	height: 90vh;
	font-family: "Lato", sans-serif;
}
#light-text{
	background: white;
	padding: 20px;
	width: 100vw;
	 margin: auto;
	 text-align: center;
	 position:absolute;
	 color: black;
	 font-family: inherit;

}

#light-text .text{
	 background:  white;
	 padding: 10px;
	 margin: auto;
	 text-align: center;
	 position:absolute;
	 color: black;
	 font-family: inherit;
}
#section2{
	background-image: url("https://wallpaperaccess.com/full/196749.jpg");
	min-height: 400px;
	font-family: inherit;
}

#section3{
	background-image: url("https://images.unsplash.com/photo-1533658280853-e4a10c25a30d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80");
	min-height: 700px;
	font-family: inherit;
}

#section1 .text{
	font-size: 250%;
	color: white;
	padding: 15px;
	text-align: center;
	margin: auto;
	width:100vw;
	position: absolute;
	top: 50%;
	letter-spacing: 8px;

}

#section1, #section2, #section3{
	background-attachment: fixed;
	background-size: cover;
	background-repeat:no-repeat;
}

#dark-text{
	background: black;
	padding: 20px;
	 margin: auto;
	width:100vw;
	 text-align: center;
	 position:absolute;
	left:0%;
	 color: white;
	 font-family: inherit;

}

#dark-text .text{
	 background: black;
	 padding: 10px;
	 margin: auto;
	 position: relative;
	 left: 45%;
	 text-align: center;
	 color: white;
	 font-family: inherit;
}

@media (max-width: 900px){
#section1, #section2, #section3{
	background-attachment: scroll;
}
}
